{# category 4 #}
{% extends '/bundles/bruno/www/templates/generic/base.twig' %}

{% block content %}
<div id="begin_anotherworld" class="visibility_hidden">
	<link rel="stylesheet" href="{{ _filelatest('/bruno/www/styles/content/anotherworld.css') }}" type="text/css" />
</div>
<div id="anotherworld_main" class="overthrow">

		<img id="anotherworld_img" src="{{ _filelatest('/bruno/www/images/error/404.jpg') }}">

</div>
<div id="end_overview" class="visibility_hidden"></div>
{% endblock %}
