#ppt_info_pitch_title {
	position: absolute;
	width: 90%;
	overflow: hidden;
	bottom: 45%;
	right: 6%;
	vertical-align: bottom;
	text-align: right;
	font-size: 3.0em;
	color: #FFFFFF;
}

#ppt_info_pitch_by {
	position: absolute;
	width: 80%;
	overflow: hidden;
	top: 55%;
	right: 6%;
	vertical-align: top;
	text-align: right;
	font-size: 1.0em;
	color: #FFFFFF;
}

#ppt_info_pitch_website {
	position: fixed;
	bottom: 3vw;
	bottom: 3vmin;
	left: 5vw;
	left: 5vmin;
	font-size: 3.2vw;
	font-size: 3.2vmin;
	color: #FFFFFF;
}

#ppt_info_pitch_website_logo {
	height: 4.4vw;
	height: 4.4vmin;
	line-height: 4.4vmin;
	width: 4.4vw;
	width: 4.4vmin;
	border: 0 solid;
	border-radius: 0.6vw;
	border-radius: 0.6vmin;
	background-color: #FBA026;
	display: inline-block;
	font-size: 4.2vw;
	font-size: 4.2vmin;
	padding: 0.1vw;
	padding: 0.1vmin;
	box-sizing: border-box;
	vertical-align: middle;
}

#ppt_info_pitch_website_link {
	padding-left: 1.6vw;
	padding-left: 1.6vmin;
}
