
html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: #EFEFEF;
	font-weight: 200;
	backface-visibility: hidden;
	padding: 0;
	margin: 0;
	position: relative;
	font-size: 3.0vw;
	font-size: 3.0vmax;
}

/* SANS-SERIF */
html, .font_sans_serif {
	/*font-family: Roboto, Calibri, Arial, "Helvetica Neue", Helvetica, Tahoma, Verdana, "Nimbus Sans L", "URW Gothic L", "Lucida Grande", Geneva, "DejaVu Sans", "Microsoft Sans Serif", sans-serif;*/
	font-family: Calibri, "Microsoft Sans Serif", sans-serif;
}

/* MONOSPACE */
.font_monospace {
	font-family: monospace, Monaco, Courier, "Bitstream Vera Sans Mono", "Courier 10 Pitch", "Nimbus Mono L","Courier New", "OCR A Extended", "DejaVu Sans Mono", "Lucida Console";
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.perfect_center {
	position: absolute;
	text-align: center;
	vertical-align: middle;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.display_none {
	display: none !important;
}

.visibility_hidden {
	width: 0 !important;
	height: 0 !important;
	visibility: hidden !important;
	z-index: 0 !important;
	position: absolute !important;
	padding: 0 !important;
	margin: 0 !important;
}

.base_tapHighlight_off {
	-moz-tap-highlight-color: rgba(0,0,0,0);
	-moz-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}

.base_color_text_white { color: #FFFFFF; }

.base_color_bg_main_gradient {
	background-color: #023762;
	background: -webkit-linear-gradient(140deg, #023762, #00719C) !important; /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(140deg, #023762, #00719C) !important; /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(140deg, #023762, #00719C) !important; /* For Firefox 3.6 to 15 */
	background: linear-gradient(140deg, #023762, #00719C) !important; /* Standard syntax */
}


#ppt_event_slide {
	position: absolute;
	right: 12vw;
	right: 12vmin;
	bottom: 1%;
	white-space: nowrap;
	/*display: none;*/
}
body:hover > #ppt_event_slide {
	/*display: block;*/
}

.ppt_event_slide_button {
	z-index: 3;
	position: relative;
	display: inline-block;
	color: rgba(255, 255, 255, 0.65);
	border: 1px solid rgba(255, 255, 255, 0.65);
	border-radius: 5px;
	cursor: pointer;
	font-size: 22px;
	background-color: rgba(143, 143, 143, 0.6);
	text-align: center;
	padding: 8px 30px;
	margin: 4px;
	white-space: nowrap;
}

.ppt_event_slide_button:hover {
	color: rgba(255, 255, 255, 0.80);
	border: 1px solid rgba(255, 255, 255, 0.80);
	background-color: rgba(143, 143, 143, 0.7);
}

.ppt_event_slide_button:active {
	color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(255, 255, 255, 1);
	background-color: rgba(143, 143, 143, 0.9);
}

.ppt_event_slide_button.disabled {
	color: rgba(255, 255, 255, 0.65) !important;
	border: 1px solid rgba(255, 255, 255, 0.65) !important;
	background-color: rgba(143, 143, 143, 0.6) !important;
	cursor: default;
	filter: alpha(opacity=30);
	opacity: 0.30;
	-moz-opacity: 0.30;
	-khtml-opacity: 0.30;
}

/* Mobile phone in Portrait */
@media only screen and (max-width: 479px){
	.ppt_event_slide_button {
		padding: 8px 10px;
		font-size: 12px;
		bottom: 1%;
	}
}
