#app_application_main {
	width: 100%;
	height: 100%;
	min-height: 100%;
	display: table;
	table-layout: fixed;
	overflow: hidden;
	vertical-align: top;
	position: relative;
	z-index: 1;
}

#app_application_project {
	position: relative; /* toto does allow animation of main menu */
	display: table-cell;
	width: 0;
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	z-index: 1100;
	visibility: hidden;
	vertical-align: top;
}

#app_application_project p{
	margin: 0;
	padding: 0;
}

#app_application_content {
	display: table-cell;
	height: 100%;
	min-height: 100%;
	width: 100%;
	z-index: 1;
	overflow: hidden;
	vertical-align: top;
	position: relative;
}

.app_application_width {
	width: 320px !important;
}

.app_application_show {}

.app_application_visible {
	visibility: visible !important;
}

.app_application_block {
	display: none;
	position: absolute;
	cursor: default;
	height: 100%;
	min-height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: transparent;
	z-index: 1000;
	overflow: hidden;
}
.app_application_block_visible {
	display: table;
	table-layout: fixed;
	vertical-align: top;
}

#app_application_submenu_block {
	display: none;
	position: fixed;
	cursor: default;
	height: 0;
	width: 0;
	top: 0;
	left: 0;
	background-color: transparent;
	z-index: 2000;
	overflow: hidden;
}

.app_application_submenu_blur {}

.app_application_upload {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
}

.app_application_blur {}


.app_application_width_child {}

#app_application_mask {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: transparent;
	z-index: 100000;
	-webkit-transition: background-image 0.5s ease-in-out;
	-moz-transition: background-image 0.5s ease-in-out;
	-o-transition: background-image 0.5s ease-in-out;
	transition: background-image 0.5s ease-in-out;
}

#app_application_alert {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.45);
	z-index: 100010;
}

.app_application_alert_box {
	padding: 30px;
	padding-bottom: 14px;
	max-width: 320px;
	text-align: center;
	color: #5A5A5A;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
	border: 1px solid #999999;
	border-radius: 10px;
}

#app_application_alert_msg {
	font-size: 16px;
	padding-bottom: 14px;
}

#app_application_alert_ok {
	color: rgba(255, 255, 255, 0.65);
	border: 1px solid rgba(255, 255, 255, 0.65);
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	background-color: rgba(143, 143, 143, 0.6);
	text-align: center;
	padding: 4px 20px;
	margin: 4px;
}

#app_application_alert_ok:hover {
	color: rgba(255, 255, 255, 0.80);
	border: 1px solid rgba(255, 255, 255, 0.80);
	background-color: rgba(143, 143, 143, 0.7);
}

#app_application_alert_ok:active {
	color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(255, 255, 255, 1);
	background-color: rgba(143, 143, 143, 0.9);
}

/* Maximum Tablet in Portrait */
@media only screen and (max-width: 900px){
	#app_application_project {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
	#app_application_content {
		width: 100%;
	}
}

/* Mobile phone in Landscape and Tablet in Portrait */
@media only screen and (min-width: 480px) and (max-width: 900px){
	.app_application_blur {
		-webkit-filter: blur(4px);
		-moz-filter: blur(4px);
		-o-filter: blur(4px);
		-ms-filter: blur(4px);
		filter: blur(4px);
	}
}

/* Maximum Mobile in Portrait */
@media only screen and (max-width: 479px){
	.app_application_width {
		width: 100% !important;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
	.app_application_alert_box {
		max-width: 240px;
	}
	#app_application_alert_msg {
		font-size: 14px;
	}
}

/* Minimum Desktop */
@media only screen and (min-width: 1280px){
	.app_application_submenu_blur {
		-webkit-filter: blur(2px);
		-moz-filter: blur(2px);
		-o-filter: blur(2px);
		-ms-filter: blur(2px);
		filter: blur(2px);
	}
}
