<div id="-submenu_app_statistics" class="base_optionTab submenu_deco">
	<div find="submenu_app_statistics_session" class="submenu_app_statistics_session ellipsis"></div>
	<div class="submenu_app_statistics_detail">
		<span class="submenu_app_statistics_participants"><span class="fa fa-user"></span>&nbsp;&nbsp;<span find="submenu_app_statistics_participants"></span></span>
		<span class="submenu_app_statistics_correct"><span class="fa fa-trophy"></span>&nbsp;&nbsp;<span find="submenu_app_statistics_correct"></span></span>
		<span class="submenu_app_statistics_clicks"><span class="fa fa-hand-pointer-o"></span>&nbsp;&nbsp;<span find="submenu_app_statistics_clicks"></span></span>
	</div>
</div>
