<div id="-submenu_app_statistics_charts" class="base_optionTab submenu_deco_read submenu_deco_info_wrap submenu_app_statistics_charts">
	<div class="submenu_app_statistics_charts_csv display_none" find="submenu_app_statistics_charts_csv">CSV</div>
	<div class="submenu_app_statistics_charts_date">
		<img class="submenu_app_statistics_charts_style display_none" find="submenu_app_statistics_charts_style" src="{{ _filelatest('/bruno/wrapper/images/generic/neutral.png') }}"></img>
		<span find="submenu_app_statistics_charts_date"></span>
	</div>
	<div class="submenu_app_statistics_charts_title" find="submenu_app_statistics_charts_title"></div>
	<div class="submenu_app_statistics_charts_details">
		<div find="submenu_app_statistics_charts_sessions_div"><span class="fa fa-desktop submenu_app_statistics_charts_icon"></span><span class="" find="submenu_app_statistics_charts_sessions"></span></div>
		<div><span class="fa fa-user submenu_app_statistics_charts_icon"></span><span class="submenu_app_statistics_charts_details_middle" find="submenu_app_statistics_charts_participants"></span></div>
		<div><span class="fa fa-eye submenu_app_statistics_charts_icon"></span><span class="submenu_app_statistics_charts_details_middle" find="submenu_app_statistics_charts_views"></span></div>
		<div find="submenu_app_statistics_charts_clicks_div" class="display_none"><span class="fa fa-hand-pointer-o submenu_app_statistics_charts_icon"></span><span class="submenu_app_statistics_charts_details_middle" find="submenu_app_statistics_charts_clicks"></span></div>
		<div find="submenu_app_statistics_charts_trophy_div" class="display_none"><span class="fa fa-trophy submenu_app_statistics_charts_icon"></span><span class="submenu_app_statistics_charts_details_middle" find="submenu_app_statistics_charts_trophy"></span></div>
	</div>
	<div find="gauge_clicks" class="submenu_app_statistics_charts_gauge_clicks display_none"></div>
	<div find="pie_devices" class="submenu_app_statistics_charts_pie_devices"></div>
</div>

<div id="-submenu_app_statistics_session" class="base_optionTab submenu_deco">
	<div find="submenu_app_statistics_session_title" class="submenu_app_statistics_session_title ellipsis"></div>
	<div class="submenu_app_statistics_session_detail">
		<span class="submenu_app_statistics_session_participants"><span class="fa fa-user"></span>&nbsp;&nbsp;<span find="submenu_app_statistics_session_participants"></span></span>
		<span class="submenu_app_statistics_session_views"><span class="fa fa-eye"></span>&nbsp;&nbsp;<span find="submenu_app_statistics_session_views"></span></span>
		<span class="submenu_app_statistics_session_clicks display_none"><span class="fa fa-hand-pointer-o"></span>&nbsp;&nbsp;<span find="submenu_app_statistics_session_clicks"></span></span>
	</div>
</div>

<div id="-submenu_app_statistics_statistics" class="base_optionTab submenu_deco">
	<div class="submenu_app_statistics_statistics_title ellipsis">
		<img class="submenu_app_statistics_statistics_style" find="submenu_app_statistics_statistics_style" src="{{ _filelatest('/bruno/wrapper/images/generic/neutral.png') }}"></img>&nbsp;
		<span find="submenu_app_statistics_statistics_title"></span>
	</div>
	<div class="submenu_app_statistics_statistics_detail">
		<span class="submenu_app_statistics_statistics_participants"><span class="fa fa-user"></span>&nbsp;&nbsp;<span find="submenu_app_statistics_statistics_participants"></span></span>
		<span class="submenu_app_statistics_statistics_views"><span class="fa fa-eye"></span>&nbsp;&nbsp;<span find="submenu_app_statistics_statistics_views"></span></span>
		<span class="submenu_app_statistics_statistics_clicks display_none"><span class="fa fa-hand-pointer-o"></span>&nbsp;&nbsp;<span find="submenu_app_statistics_statistics_clicks"></span></span>
	</div>
	<div class="submenu_app_statistics_statistics_question ellipsis" find="submenu_app_statistics_statistics_question"></div>
	<div class="submenu_app_statistics_statistics_result">
		<span class="submenu_app_statistics_statistics_trophy display_none" find="submenu_app_statistics_statistics_trophy_span"><span class="fa fa-trophy"></span>&nbsp;&nbsp;<span find="submenu_app_statistics_statistics_trophy"></span></span>
		<span class="submenu_app_statistics_statistics_score display_none" find="submenu_app_statistics_statistics_score_span"><span class="fa fa-bar-chart"></span>&nbsp;&nbsp;
			<span find="score_a_span" class="display_none">A:<span find="score_a"></span>&nbsp;&nbsp;</span>
			<span find="score_b_span" class="display_none">B:<span find="score_b"></span>&nbsp;&nbsp;</span>
			<span find="score_c_span" class="display_none">C:<span find="score_c"></span>&nbsp;&nbsp;</span>
			<span find="score_d_span" class="display_none">D:<span find="score_d"></span>&nbsp;&nbsp;</span>
			<span find="score_e_span" class="display_none">E:<span find="score_e"></span>&nbsp;&nbsp;</span>
			<span find="score_f_span" class="display_none">F:<span find="score_f"></span>&nbsp;&nbsp;</span>
		</span>
	</div>
</div>

<div id="-submenu_app_statistics_answer" class="base_optionTab submenu_deco_read">
	<span class="submenu_padding submenu_app_statistics_answer_index" find="index"></span>
	<span class="submenu_padding submenu_app_statistics_answer_info" find="info"></span>
	<span class="submenu_padding submenu_app_statistics_answer_correct display_none" find="correct"></span>
	<span class="submenu_padding submenu_padding submenu_app_statistics_answer_img display_none" find="img"></span>
	<span class="submenu_padding submenu_app_statistics_answer_title" find="title"></span>
</div>
