{# category 6 #}
<div id="begin_models_question" class="visibility_hidden">
	<link rel="stylesheet" href="{{ _filelatest('/bruno/app/styles/models/question.css') }}" type="text/css" />
</div>
<div id="end_models_question" class="visibility_hidden"></div>

<div class="display_none">

	<div id="-models_question_top" class="models_question_top">
		<div class="models_question_top_title">
			<span class="models_question_top_title_front">{{ _trans('app', 4, 9, 'html') }}{# Question:  #}</span>
			<textarea {% if read_only %}readonly{% endif %} find="input_textarea" class="models_question_top_title_textarea font_sans_serif selectable {% if read_only %}readonly app_application_read_only{% endif %}" rows="1" maxrows="3"></textarea>
		</div>
	</div>

	<div id="-models_question" class="models_question_standard">
		<div find="delete" class="models_question_standard_delete fa fa-trash-o" title="{{ _trans('app', 1, 5, 'html') }}{# Delete #}"></div>
		<div class="models_question_standard_title"><img find="style" class="models_question_standard_style" src="" /><span find="title"></span></div>
	</div>

</div>
