{#
	How to use:
	$abc = 'A variable'
	$app->render('/bundles/bruno/wrapper/templates/debug.twig', array(
		'data' => $abc,
	));

	Then open the link (change the domain name according to dev(.net)/stage(.co)/production(.com) server)
	https://bruno.co/debug/twig
#}
<!doctype html>
<html>
<head>

<link rel="stylesheet" href="{{ _filelatest('/styles/libs/font-awesome.min.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ _filelatest('/bruno/app/styles/font-icon/style.css') }}" type="text/css" />
<script>


</script>

<style type="text/css">
	body {
		margin: 0px;
		padding: 0px;
		background-color: #FFFFFF;
		background-color: #023762;
		color: #023762;
		color: #FFFFFF;
		font-size: 1000px;
		width: 1024px;
		height: 1024px
	}
</style>

</head>
<body>

<div class="icon-projectBlack"></div>

</body>
<script>


</script>
</html>
