<div id="begin_wrapper_handclick" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/bruno/wrapper/scripts/handclick.js') }}", 30);
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/bruno/wrapper/styles/handclick.css') }}" type="text/css" />
</div>

<div id="-wrapper_handclick" class="wrapper_handclick display_none">
	<img find="hand" class="wrapper_handclick_hand" src="{{ _filelatest('bruno/wrapper/images/generic/click/whand.png') }}" />
	<img find="click" class="wrapper_handclick_hand" src="{{ _filelatest('bruno/wrapper/images/generic/click/wclick.png') }}" />
</div>

<div id="end_wrapper_handclick" class="visibility_hidden"></div>

