
#overview_main {
	position: relative;
	color: #00335F;
}

#overview_intro_top {
	position: relative;
	background-color: #3EA9F5;
	height: 600px;
	width: 100%;
	font-size: 36px;
}

#overview_intro_top_title {
	font-size: 44px;
	padding: 16px;
	white-space: nowrap;
	display: inline-block;
}

#overview_intro__top_img {
	width: 100%;
}

#overview_intro_div {
	max-width: 320px;
	width: 70%;
	position: absolute;
	z-index: 3;
	right: 5%;
	margin-top: -20%;
}

#overview_intro_huawei {
	width: 100%;
	position: relative;
	z-index: 2;
	right: 0;
}

#overview_intro_huawei_iframe {
	width: 79.3%;
	position: absolute;
	z-index: 3;
	border: none;
	margin: 0;
	padding: 0;
	margin-left: 10%;
	margin-top: 19.7%;
	height: 76.4%;
	background-color: #000000;
}

#overview_intro_title {
	position: relative;
	height: 500px;
	color: #00335F;
}


/* Tablet in Portrait and below */
@media only screen and (max-width: 900px){
	#overview_intro_top_title {
		font-size: 40px;
		margin-left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
}

/* Mobile phone in Portrait */
@media only screen and (max-width: 479px){
	#overview_intro_top_title {
		font-size: 24px;
		font-size: 7vw;
	}
}
