.submenu_app_answer_brand_logo {
	width: 64px;
	height: 64px;
	border-radius: 16px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.submenu_deco.submenu_app_answer_get_presentation_methods {
	background-color: #EEF3F9;
}
