{% extends '/bundles/bruno/screen/templates/base.twig' %}
{% block frame %}
	<div id="begin_generic_sorry" class="visibility_hidden">
		<link rel="stylesheet" href="{{ _filelatest('/bruno/screen/styles/generic/blank.css') }}" type="text/css" />
	</div>

	<div id="end_generic_sorry" class="visibility_hidden"></div>
{% endblock %}
