{% extends '/bundles/bruno/screen/templates/base.twig' %}
{% block frame %}
	<div id="begin_generic_sorry" class="visibility_hidden">
		<link rel="stylesheet" href="{{ _filelatest('/bruno/screen/styles/generic/sorry.css') }}" type="text/css" />
	</div>

	<div class="perfect_center">
		{{ _trans('wrapper', 0, 3, 'html') }}{# Page not found #}
	</div>

	<div id="end_generic_sorry" class="visibility_hidden"></div>
{% endblock %}
