{% extends '/bundles/bruno/wrapper/templates/wrapper.twig' %}
{% block base %}

	<div id="begin_wphead" class="visibility_hidden">
		<script type="text/javascript">
			JSfiles.later("{{ _filelatest('/bruno/www/scripts/generic/base.js') }}");
		</script>

		<link rel="stylesheet" href="{{ _filelatest('/bruno/www/styles/generic/base.css') }}" type="text/css" />
	</div>
	
	<div class="base_wrapper" id="base_wrapper">
		{% include '/bundles/bruno/www/templates/generic/wphead.twig' %}
		<div id="base_content">
			{% block content %}
			{% endblock %}
		</div>
	</div>
{% endblock %}
